<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="RedisSettings" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" />
  </configSections>

  <RedisSettings>
    <add key="RedisServerIP1" value="172.0.0.0" />
    <add key="RedisServerIP2" value="172.0.0.0" />
    <add key="RedisServerIP3" value="172.0.0.0" />
    <add key="RedisServerPort" value="6379" />
    <add key="RedisServerPassword" value="123456789" />
    <add key="RedisDatabase" value="0" />
    <add key="RedisKeyPrefix" value="EXAMPLE" />
  </RedisSettings>

  
  
  
</configuration>